.openki * {
	box-sizing: border-box;
	color: var(--openki--color-font, inherit);
}

.openki-events__link-wrapper {
	list-style: none;
	position: relative;
	padding: 0 0 0 30px;
}

.openki-events__link-wrapper--event {
	margin: 15px 0 0 0;
}

.openki-events__link-icon {
	position: absolute;
	left: 0;
	top: 7px;
	height: 20px;
	width: 20px;
}

.openki-calendar {
	padding: 0;
	margin: 0;
	width: 100%;
}

.openki-calendar__day-wrapper {
	list-style: none;
	margin: 0 0 30px 0;
}

.openki-calendar__events {
	padding: 0;
}

.openki-calendar-event {
	background: var(--openki--color-background, rgba(0, 0, 0, 0.1));
	list-style: none;
	margin: 0 0 10px 0;
}

.openki-calendar-event__header {
	border: none;
	background-color: var(--openki--color-background, rgba(0, 0, 0, 0.1)) !important;
	color: inherit !important;
	display: block;
	padding: 15px 60px 15px 15px;
	position: relative;
	text-align: left;
	transition: background-color 0.2s;
	width: 100%;
}

.openki-calendar-event__header--compact {
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 15px 60px 15px 155px;
	white-space: nowrap;
}

.openki-calendar-event__header--compact.is-active {
	white-space: normal;
	overflow: visible;
}

.openki-calendar-event__header-date {
	position: absolute;
	left: 15px;
	top: 15px;
}

.openki-calendar-event__header-icon {
	position: absolute;
	top: 18px;
	right: 15px;
	height: 25px;
	width: 25px;
}

.openki-calendar-event__header-icon--toggle::before,
.openki-calendar-event__header-icon--toggle::after {
	background: var(--openki--color-font, rgba(0, 0, 0, 1));
	content: "";
	position: absolute;
}

.openki-calendar-event__header-icon--toggle::before {
	width: 100%;
	height: 2px;
	top: calc(50% - 1px);
	left: 0;
}

.openki-calendar-event__header-icon--toggle::after {
	height: 100%;
	width: 2px;
	left: calc(50% - 1px);
	top: 0;
	transition: opacity 0.1s;
}

.openki-calendar-event__header.is-active .openki-calendar-event__header-icon--toggle::after {
	opacity: 0;
}

.openki-calendar-event__header:hover {
	background: var(--openki--color-background-hover, rgba(0, 0, 0, 0.2)) !important;
}

.openki-calendar-event__content {
	width: 100%;
	padding: 15px;
}

.openki-calendar-event__content--hide {
	visibility: hidden;
	padding: 0;
	height: 0;
	overflow: hidden;
}

.openki-calendar-event__row {
	display: flex;
	width: 100%;
}

.openki-calendar-event__label {
	flex-shrink: 0;
	width: 100px;
}

.openki-calendar-event__description {
	margin: 15px 0 0 0;
}

.openki-calendar-event__description-button {
	display: block;
}

.openki-calendar-event__description-button--hide {
	display: none;
}

.openki-calendar-event__description-inner {
	visibility: hidden;
	height: 0;
}

.openki-calendar-event__description-inner.openki-calendar-event__description-inner--show {
	visibility: visible;
	height: auto;
}
